{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="contact"> 
    <h2 class="contact-me">Contactame</h2>
    <div class="networks">
    <a href="https://www.facebook.com/carmenvictoria.riosramos" target="_blank"><i class="bi bi-facebook"></i></a> 
    <a href="https://www.instagram.com/carmen98rios/" target="_blank"><i class="bi bi-instagram"></i></a> 
    <a href="https://github.com/Carmenvic98" target="_blank"><i class="bi bi-github"></i></a> 
    <a href="https://www.linkedin.com/in/carmen-rios/" target="_blank"><i class="bi bi-linkedin"></i></a> 
    </div>
</div> 